.titulo-section {
    margin: 0 auto;
    color: white;
    border-bottom: 2px solid rgb(113, 194, 109);
    text-align: center;
    width: 12vw;
    padding: 2% 0 1%;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .titulo-section {
        width: fit-content;
        padding: 4% 0 1%;
    }
}