.AboutMe {
  height: auto;
  width: 100%;
  background-color: #141313;
}

.AboutMe__conteudo {
  width: 85%;
  margin: 0 auto;
  color: white;
  padding: 5% 5% 2%;
}

.AboutMe__text {
  color: white;
  font-size: 1em;
  text-align: justify;
  margin-bottom: 5%;
  line-height: 1.5rem;
}

.AboutMe__tabela-pessoal {
  float: left;
}

.AboutMe__tabela-pessoal table {
  font-size: 1em;
}

.AboutMe__tabela-pessoal td {
  width: 15vw;
  height: 7vh;
}

.AboutMe__interesses {
  float: right;
  width: 40%;
}

.AboutMe__lista-interesses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AboutMe__lista-interesses-item-container {
  background-color: #201d1d;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  font-size: 1.2em;
  text-align: center;
  width: 15%;
  padding: 3% 3%;
  border-radius: 5px;
  margin: 0 5px 5px;
}

.AboutMe__lista-interesses-item-container {
  text-align: center;
  font-size: 18px;
  min-width: 60px;
}

@media (max-width: 768px) {
  .AboutMe__tabela-pessoal {
    width: 100%;
  }
  .AboutMe__tabela-pessoal table {
    width: 100%;
    text-align: right;
  }
  .AboutMe__interesses {
    float: none;
    width: 100%;
  }
  .AboutMe__lista-interesses {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .AboutMe__lista-interesses-item-container {
    min-width: 50px;
    font-size: 16px;
  }
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8%;
}

.AboutMe__botao,
.AboutMe__botao::after {
  text-decoration: none;
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #000 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  -webkit-box-shadow: 6px 0px 0px #60C85B;
          box-shadow: 6px 0px 0px #60C85B;
  outline: transparent;
  position: relative;
}

.AboutMe__botao::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Download CV";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #60C85B 3%, #60C85B 5%, #000 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #60C85B;
  -webkit-clip-path: var(--slice-0);
          clip-path: var(--slice-0);
}

.AboutMe__botao:hover::after {
  -webkit-animation: 1s glitch;
          animation: 1s glitch;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
}

@-webkit-keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=styles.css.map */